td {
  border: 1px solid rgb(244, 247, 244);
  background-color: rgb(129, 184, 230);
}

th {
  color: rgb(244, 247, 244);
  background-color: navy;
  border: 1px solid rgb(244, 247, 244);
  padding: 2px;
}

table {
  min-width: 0;
  margin: 20px;
  border: 2px solid grey;
  box-shadow: 1px 2px #f7cac9;
  padding: 5px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  /*background-color: #55b4b0;*/
  table-layout: inherit;
}

button {
  margin: 1px;
  border: none;
  border: 1px solid grey;
  padding: 1px;
  font-family: Verdana, sans-serif;
  cursor: pointer;
  background-color: rgba(247, 179, 101, 0.952);
}

button:hover {
  background-color: rgb(97, 196, 102);
}
